html {
    font-size: 10px;
    color: #666d89;
  }

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 18px;
}

h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 30px;
}
.wrapper {
    max-width: 1020px;
    margin: auto;
  }

  .layout-3-column {
      
  }
  