html {
    font-size: 10px;
}

body {
    width: 1020px;
    
    margin: 0 auto;
    
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif; 
}

header {
    width: 1020px;
    height: 91px;
    background-color: #2d303a;
    border-bottom: 6px, #323746;
    
}

.hidden {
    color: #2d303a;
}

.logo {
    position:absolute;
    margin-top:-30px;
    margin-left: 39px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

.logo__star {
    color: #f06c64;
}


.navigation {
    display: flex;
    list-style: none;
    
    font-size: 12px;
    font-weight: bold;
    margin-top: -32px;
    margin-left: 538px;
    text-transform: uppercase;
line-height: 6px;
color: #ffffff;
font-family: "Lato";
font-weight: 700;
text-align: left;
    
}

.navigation-item {
    
    position: relative;
    height: 30px;
    margin-left: 28.67px;
    margin-top: 18px;
    font-size: 12px;

  }

  



  .iphone {
    height: 600px;
    background-color: #f06c64;
  
  }

  .section.slider {
   position: relative;
  margin-top: 90px;
  
  }

  .arrow-interactive {
    cursor: pointer; 
  }

  .slider__arrow-previous {
    margin-top: -315px;
      margin-left: 39px;
  }
  .slider__arrow-next {
      margin-top: -28px;
    margin-left: 962px;
}



 .iphone__vertical {
    margin-left: 108px;
    margin-top: 55px;
  }
  .iphone__horizontal {
    margin-left: 66px;
  margin-bottom: 122px;

  }

  .services {
        margin-top: 287px;
        background-color: #f2f2f2;
        
      }
      

  .wrapper {
    margin: 0 auto;
    max-width: 1020px;
    
    height: 500;
    position: relative;
  }

  .wrapper p {
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
        color: #767e9e;
        font-weight: 300;
        padding-top: 27px;
      }
      
  

  h2 {
    padding: 68px 40px 0 40px;
    font-size: 30px;
    line-height: 18px;
    letter-spacing: -0.008em;
    color: #666d89;
    font-weight: 900;
  }
  .services p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #767e9e;
    font-weight: 300;
    padding-top: 2px;
    padding-left: 41px;
  }

  h3 {
    font-size: 18px;
    line-height: 18px;
    margin-top: -19px;
  
    letter-spacing: -0.008em;
    color: #666d89;
    font-weight: 900;
    
  }

  .layout-3-column {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
 
  padding: 40px 20px 0 40px;
  }

  .layout-3-column p {
    padding-left: 10px;
  padding-right: 20px;
  
  } 
  
  .service {
    display: flex;
    padding-top: 6px;
    padding-bottom: 23px;
  }

  .service__icon {
    padding-right: 10px;
    margin-top: -20px;
  }
  
  .service p {
    width: 219px;
    height: 128px;
    margin-left: -150px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    
    font-weight: 400;
    padding-top: 9px;
  text-align: justify;
  }

 